.body{
    background-color: #031B88;
  }
  
  .scroll-view{
    background-color: #031B88;
  }
  
  .nav_title{
    background-color: #031B88;
  }


  .sidebar-footer {
    background-color: #031B88;
  }

  .sidebar-footer a{
    background-color: #031B88;
  }


  .sidebar-footer a:hover {
    background: #dee6ee;
  }
  